# macOS
**/.DS_Store

# javascript
**/.env

# node
**/node_modules/*
**/npm-debug.log

# firebase
**/ui-debug.log
**/database-debug.log
**/firebase-debug.log
**/firestore-debug.log
**/package-lock.json
**/.runtimeconfig.json
